<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>

      <h1>Your tasks</h1>

      <ul>
        <% @user.tasks.each do |task| %>
          <li><%= task.name %></li><a href="/tasks/update">UPDATE</a>

          <form class="deleted" action="/tasks/<%= task.id %>" method="post">
	          <input type="hidden" name="_method" value="delete">
	          <button type="submit" name="button">Delete</button>
	        </form>

        <% end %>
      </ul>


      <a href="/tasks/new">New Task</a>

    </main>
    <aside class="">

    </aside>
  </body>
</html>
