<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>
      <h1>Add Task:</h1>

      <form action="/tasks" method="post">
        <label for="name">Task:</label>
        <input type="text" name="name"/>

        <label for="due_date">Due Date:</label>
        <input type="date" name="due_date"/>

        <button type="submit">Create Task</button>
      </form>

    </main>
    <aside class="">

    </aside>
  </body>
</html>
